
/*img{
    size:50%;
    width:50%;
    height:50%;
    } */
.Logo{ 
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Search{ 
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
.suggestions{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#seachbar2{
    border-radius:25px;
    backface-visibility:transparent;
    background:grey;
    
    margin:;
    padding:20px;
    height:30px;
    width:;
    outline:;
    display: block;
    margin-left: auto;
    margin-right: auto;
    Margin-bottom:;
    width: 45%;
}
p{
    float:left;
    font-family:sans-serif;
}
i{
float:right;
}