
/*img{
    size:50%;
    width:50%;
    height:50%;
    } */
.Logo{ 
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Search{ 
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
.suggestions{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#seachbar2{
    border-radius:25px;
    backface-visibility:transparent;
    background:#f2f2f2;
    
    margin:;
    padding:20px;
    height:30px;
    width:;
    outline:;
    display: block;
    margin-left: auto;
    margin-right: auto;
    Margin-bottom:;
    width: 45%;
}
p{
float:top;
    float:left;
    font-family:sans-serif;
    font-style:bold;
    color:#595959; 
}
#microphone{
float:right;
}
.suggestions2{
    
   /*  border-radius: 5px 10px 15px 20px; /* top left, top right, bottom right, bottom left */
    /* background: #f2f2f2;
    border-shape:circle; */
 width: 50px;
 height: 50px;
 background:#f2f2f2;
 border-radius: 50%
    
}
img{
    float:center
}
i{float:center}
.suggestionsgrid
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}